body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0 ,0 ,0 , 0.6)), url(kua4.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat-y;
    background-color:rgb(255, 255, 255);
    color: rgb(56, 137, 190);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
#head{
    background: rgb(143, 208, 245) ;
    color: black;
    margin: auto;
    opacity: 70%;
}
.header{
    height: 80px;
    margin: 10px;
    opacity: 40%;   
}
nav ul{
    list-style-type: none;
    display: flex;
    padding: 10px;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-content: center;
}
ul li a{
    color: whitesmoke;
    letter-spacing: 0.1rem;
}
ul li a:hover{
    color: rgb(238, 6, 6); 
    text-decoration: none;
}
.menu li{
    float: left;
    padding: 30px;
    opacity: 60%;
    display: inline;
}
.menu li a{
    text-decoration: none;}
    #cont{
        display: flex;
        justify-content: center;
        align-items: center;   
        opacity: 60%;
    }
    p{
        font-size: 15px;
    }
    #toph{
       width: 720px;
       overflow: hidden;
       justify-content: center;
       
    }
    .img{
        align-content: center;
        display: flex;
        animation-duration: 15s;
        animation-name: mestoph;
        animation-iteration-count: infinite;
    }   
    @keyframes mestoph {
        0%{transform: translateX(0);} 
        33%{transform: translateX(-720px);} 
        66%{transform: translateX(-1440px);}
        100%{transform: translateX(0);}    
    }